SERVER_NAME=aegis.bcircle.co.th
ALLOPS_JWT_SECRET=replace-this-with-strong-secret

BEFLEX_SUPPORT_BACKEND_TAG=0.0.3
BEFLEX_SUPPORT_FRONTEND_TAG=0.0.3
NGINX_TAG=1.25.4

MEM_LIMIT_BEFLEX_SUPPORT_BACKEND=256
MEM_LIMIT_BEFLEX_SUPPORT_FRONTEND=128

DATA_VOLUME=./data

EXTENSION_DB_PGHOST=127.0.0.1
EXTENSION_DB_PGPORT=5432
EXTENSION_DB_NAME=workspace_extension
EXTENSION_DB_PGUSER=postgres
EXTENSION_DB_PGPASSWORD=changeme

ALFRESCO_BASE_URL=http://alfresco:8080
PERMISSION_SERVICE_URL=http://permission-service/api/Excel/PostFile
CREDENTIAL_MANAGER_URL=http://credential-manager-backend:3900
CREDENTIAL_MANAGER_BACKEND_STATIC_API_TOKEN=replace-token
